body {
    font-family: Arial, sans-serif;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(89, 213, 201, 1) 100%
        
    );
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    width: 500px;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: -1px 1px 5px 7px rgba(0,0,0,0.37);
    -webkit-box-shadow: -1px 1px 5px 7px rgba(0,0,0,0.37);
    -moz-box-shadow: -1px 1px 5px 7px rgba(0,0,0,0.37);
    margin-left: 1px;
    justify-content: center;
}

h2 {
    margin: 0 0 20px;
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 40%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
    font-size: 16px; 
    text-decoration: none;
    text-align: center;
}

.btn.red {
    background-color: #dc3545; 
}

.btn.red:hover {
    background-color: #eb162b;
}
